body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f6fa;
}

.container {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
}
